
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" href="~/Content/Site.css"/>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
<div id="page-wrapper">
    <div class="row col-xs-8">
        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-1 control-label">开始于</label>
                <div class="col-xs-3">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" id="startDate" name="startDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <label class="col-xs-1 control-label">结束于</label>
                <div class="col-xs-3">
                    <div class="input-group date" id="datetimepicker2">
                        <input type="text" class="form-control" id="endDate" name="endDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <input type="button" class="btn btn-success" id="submitForm" value="查询"/>
                <a href="@Url.Action("ExportExcel")" class="btn btn-default" id="export">导出到EXCEL</a>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="gridContainer">
                <table id="jqGrid" name="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $grid = $('#jqGrid');
    $(document).ready(function() {
        $("#jqGrid").jqGrid({
            url: '@Url.Action("GetList")',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
              //  { label: '主键', name: 'Id', hidden: true },
                { label: '手机号码', name: 'PhoneNum' },
                { label: '股票代码', name: 'StockCode' },
                {label:'创建时间',name:'CreateTime',formatter:'date',formatoptions:{srcformat:'Y/m/d',newformat:'Y/m/d'}}
            ],
            //beforeSelectRow: function (rowid, e) {
            //    return false;
            //},
            viewrecords: true,
            //loadonce: true,
           // autowidth: true,
            rownumbers:true,
            height: '100%',
            rowNum: 20,
            rowList:[20,40,60,80],
            pager: "#jqGridPager"
        });

        $("#export").on("submit",
            function() {
                

            });

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY/MM/DD'
        });
        $('#datetimepicker2').datetimepicker({ format: 'YYYY/MM/DD' });
        $(window).on('resize',
            function() {
                var width = $('#gridContainer').innerWidth();
                if (width == null || width < 1) {
                    width = $('#gridContainer').attr('offsetWidth');
                }
               // console.log(width);
               // width = width - 2;
                if (width > 0 &&
                    // Only resize if new width exceeds a minimal threshold
                    // Fixes IE issue with in-place resizing when mousing-over frame bars
                    Math.abs(width - $grid.width()) > 5) {
                    $grid.setGridWidth(width);
                }
            }).trigger('resize');
        


    });

    $('#submitForm').on('click',
        function () {
            $('#search').submit();
        });

    $('#search').on('submit',
        function (event) {
            $grid.jqGrid('setGridParam',
                {
                    postData: { startDate: $('#startDate').val(), endDate: $('#endDate').val() }
                }).trigger('reloadGrid');
            event.preventDefault();
        });
</script>

