
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诊断个股</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            min-width: 980px;
            font-family: "Microsoft Yahei";
            overflow-x: hidden;
        }
        img {
            border: none;
        }
        input {
            box-sizing: border-box;
            outline: none;
            border: none;
        }
        .container {
            position: relative;
            width: 980px;
            margin: 0 auto;
        }
        .main-bg {
            width: 1920px;
            margin-left: -470px;
        }
        .floatArea {
            position: fixed;
            left: 50%;
            bottom: 0;
            margin-left: -490px;
            width: 980px;
        }
        .float-bg {
            width: 1920px;
            margin-left: -470px;
        }

        .stock-input, .phone-input {
            font-size: 18px;
            padding: 0 10px;
            color: #848484;
            border: 1px solid #fff;
        }
        .stock-input:focus {
            border: 1px solid #65aad0;
        }

        .float-box {
            position: absolute;
            top: 50px;
            left: 206px;
            width: 576px;
            height: 75px;
        }
        .float-box .stock-input {
            width: 370px;
            height: 75px;
        }
        .float-box .stock-link {
            position: absolute;
            top: 0;
            right: 0;
            width: 198px;
            height: 75px;
        }
		
        .active-box {
            position: absolute;
            top: 314px;
            left: 667px;
            width: 428px;
            height: 432px;
            box-sizing: border-box;
            padding: 160px 45px 0;
        }
        .active-box .stock-input {
            width: 338px;
            height: 65px;
            border-radius: 18px;
        }
        .stock-input.error, .phone-input.error {
            border-color: #d9534f;
        }
        .active-box .stock-link {
            display: block;
            margin: 45px auto 0;
            width: 328px;
            height: 60px;
        }
        .active-box p.error, .float-box p.error {
            padding-left: 10px;
            padding-top: 5px;
            color: #d9534f;
        }

        .alertArea {
            display: none;
            width: 583px;
            height: 508px;
            background: url(/Content/images/form-box.png) no-repeat;
        }
        .alert-box {
            padding: 160px 66px 0;
            color: #fff;
        }
        .alert-box h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .alert-box p {
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .alert-box p.error {
            width: 340px;
            margin: 0 auto;
            padding-left: 10px;
            color: #d9534f;
        }
        .alert-box .phone-input {
            display: block;
            width: 340px;
            height: 55px;
            margin: 0 auto;
        }
        .alert-box .phone-link {
            display: block;
            margin: 25px auto 0;
            width: 340px;
            height: 68px;
        }
        .success-msg {
            position: relative;
            width: 600px;
            height: 299px;
            display: none;
        }
        .success-msg img {
            display: block;
        }
        .success-msg .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            color: #999;
        }
        .success-msg .close-btn:hover {
            color: #333;
            font-weight: bold;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b87a4641207d167eef6f59da36be6b2e";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="container">
    <div class="active-box">
        <form id="stockForm1">
        <input name="code" class="stock-input" type="text" placeholder="请输入股票代码或名称" maxlength="6">
        <a class="stock-link" href="javascript: void(0);"></a>
        </form>
    </div>
    <img class="main-bg" src="~/Content/images/body-bg.gif" alt="" ondragstart="return false;">
</div>
<div class="floatArea">
    <div class="float-box">
        <form id="stockForm2">
            <input name="code" class="stock-input" type="text"  placeholder="请输入股票代码或名称" maxlength="6">
            <a class="stock-link" href="javascript: void(0);"></a>
        </form>
    </div>
    <img class="float-bg" src="~/Content/images/float-bg.gif" alt="" ondragstart="return false;">
</div>
<div id="linkBox" class="alertArea">
    <div class="alert-box">
        <form id="phoneForm">
            <h3>你所查询的个股是：<span class="code">601018</span></h3>
            <p>由于在线诊股人数较多，为确保诊股的准确性，因此诊股数据将以短信的形式直接发送到您的手机中请注意查收！</p>
            <input class="phone-input" type="text" name="phone" placeholder="请输入你的手机号码" autofocus="autofocus" maxlength="11">
            <a class="phone-link" href="javascript: void(0);"></a>
        </form>
    </div>
</div>
<div class="success-msg">
    <span class="close-btn">X</span>
    <img src="~/Content/images/success-msg.jpg" alt="">
</div>
</body>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/messages_zh.js"></script>
<script src="~/Scripts/layer/layer.js"></script>
<script>

    $(".stock-link").each(function(index, ele) {
        $(ele).on('click',
            function() {
                var stockCode = $(this).siblings(".stock-input").val();
                if (!stockCode) {
                    layer.msg('股票代码不能为空');
                    $(this).siblings(".stock-input").focus();
                    return;
                }
                if (!isTrueCode(stockCode)) {
                    layer.msg('请输入合法的股票代码或名称',
                        {
                            time: 3000
                        });
                    $(".stock-input").val("");
                    $(this).siblings(".stock-input").focus();
                    return;
                }

                $(".stock-input").val("");

                layer.open({
                    type: 1,
                    title: false,
                    area: '583px',
                    shade: 0,
                    shadeClose: true,
                    content: $("#linkBox")
                })

                $("#linkBox .code").html(stockCode);
                $("#linkBox .stock-input").focus();
            })
    })

    $(".phone-link").on('click',
        function() {
            var phoneNum = $(this).siblings(".phone-input").val();

            // 判断输入是否为空
            if (!phoneNum) {
                layer.msg('手机号码不能为空');
                $(this).siblings(".phone-input").focus();
                return;
            }

            // 判断是否是正确的手机号
            if (!isMobile(phoneNum)) {
                layer.msg('请正确填写您的手机号码',
                    {
                        time: 3000
                    });
                $(this).siblings(".phone-input").focus();
                return;
            }

            var codeNum = $("#linkBox .code").html();

            $.ajax({
                url: '@Url.Action("DiagnosisStock")',
            type: 'POST',
            data: {phone:phoneNum,code:codeNum},
            dataType: 'json',
            beforeSend:function() {
                layer.load();
            },
            success: function (data) {
                layer.closeAll();
                if (data.success) {
                    layer.open({
                        type: 1,
                        title: false,
                        area: '600px',
                        shade: 0,
                        shadeClose: true,
                        closeBtn: 0,
                        content: $(".success-msg")
                    });
                    $(".phone-link").siblings(".phone-input").val("");
                    $(".success-msg .close-btn").on('click',
                        function() {
                            layer.close(layer.index);
                        });

                } else {
                    layer.msg(data.message, {
                        time: 3000
                    });
                    $(".phone-link").siblings(".phone-input").focus();
                }
            }
        });
        
    })

    function isTrueCode(code) {
        if (!Number(code)) {
            return true;
        }
        var reg = /^[0-9]{6}$/;
        return reg.test(code);
    }

    function isMobile(phone){
        var length = phone.length;
        var reg = /^1[3|4|5|7|8][0-9]{9}$/;
        return length == 11 && reg.test(phone);
    }
</script>
</html>
