
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诊断个股</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100%;
            overflow-x: hidden;
        }

        input {
            box-sizing: border-box;
            outline: none;
            border: none;
        }

        a {
            -webkit-tap-highlight-color: transparent;
        }

        .container {
            position: relative;
            width: 100%;
        }

            .container img {
                width: 100%;
            }

        .formArea {
            position: absolute;
            top: 0;
            padding-top: 94.8%;
            width: 100%;
        }

            .formArea form {
                position: relative;
                width: 83.33%;
                padding-top: 44%;
                margin: 0 auto;
            }

            .formArea input {
                position: absolute;
                left: 0;
                width: 100%;
                height: 24.8%;
                padding-left: 4%;
                border: 1px solid transparent;
            }

                .formArea input.error {
                    border-color: #f3bf7e;
                }

                .formArea input[name=code] {
                    top: 0;
                }

                .formArea input[name=phone] {
                    top: 35%;
                }

        .phone-link {
            position: absolute;
            width: 100%;
            height: 29%;
            bottom: 0;
        }

        .formArea p.error {
            position: absolute;
            left: 0;
            font-size: 12px;
            color: #f3bf7e;
        }

        #phone-error {
            top: 60%;
        }

        #code-error {
            top: 25%;
        }

        .success-msg {
            position: fixed;
            width: 80%;
            padding-top: 64.2%;
            left: 50%;
            top: 50%;
            margin-left: -40%;
            margin-top: -23%;
            transform: scale(0);
            -ms-transform: scale(0);
            transition: transform 0.3s;
        }

            .success-msg img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .success-msg .close-btn {
                position: absolute;
                z-index: 2;
                top: 15px;
                right: 15px;
                cursor: pointer;
                color: #999;
            }

                .success-msg .close-btn:hover {
                    color: #333;
                    font-weight: bold;
                }
    </style>
</head>
<body>
    <div class="container">
        <div class="formArea">
            <form id="stock-form">
                <input type="text" name="code" placeholder="请输入股票代码">
                <input type="text" name="phone" placeholder="请输入手机号码">
                <a class="phone-link" href="javascript: void(0);"></a>
            </form>
        </div>
        <img src="~/Content/images/mobile-bg-nb.jpg" alt="">
    </div>
    <div class="success-msg">
        <span class="close-btn">X</span>
        <img src="~/Content/images/mobile-message.png" alt="">
    </div>
</body>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/messages_zh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js"></script>
<script>
    $("#stock-form").validate({
        rules: {
            code: {
                required: true,
                number: true,
                rangelength: [6, 6]
            },
            phone: {
                required: true,
                isMobile: true
            }
        },
        errorElement: "p",
        messages: {
            code: {
                required: "请输入股票代码，例：000001",
                number: "请输入正确的股票代码",
                rangelength: "股票代码长度应为6位"
            },
            phone: {
                required: "请输入你的手机号码",
                isMobile: "请输入正确的手机号码"
            }
        },
        debug: true
    })
    $('.phone-link').on('tap', function(e) {
        if(!$("#stock-form").valid()){
            return ;
        }

        $.ajax({
            url: '@Url.Action("DiagnosisStock")',
            type: 'POST',
            data: { phone: $('input[name=phone]').val(), code: $('input[name=code]').val() },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
        if(true){
            $(".success-msg").css({
                "transform": "scale(1)",
                "-ms-transform": "scale(1)"
            });
        }
    });
    $(".close-btn").on('tap', function(){
        $(".success-msg").css({
            "transform": "scale(0)",
            "-ms-transform": "scale(0)"
        });
    })

</script>
</html>
