
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css"/>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/i18n/defaults-zh_CN.min.js"></script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    /*checkbox style*/

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr { border-radius: 50%; }

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon { margin-left: 0.04em; }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] { display: none; }

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr { opacity: .5; }

    .btn-flat {
        border: none;
        box-shadow: none;
    }

    .loading {
        position: absolute; top: 0px;bottom: 0; filter: alpha(opacity=60); background-color: #777;     
        z-index: 1002; left: 0px;     
        opacity:0.5; -moz-opacity:0.5;
        display: none;  
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <table id="jqGrid" style="width: 100%"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" style="width: 40%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form role="form" data-async id="editForm" class="form-horizontal" method="post" action="@Url.Action("Save")">
                        <input type="hidden" id="Id" name="Id"/>
                        <div class="form-group">
                            <label for="NickName" class="col-xs-2 control-label">图片名称</label>
                            <div class="col-xs-10">
                                <input class="form-control" id="Title" name="Title" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Position" class="col-xs-2 control-label">图片位置</label>
                            <div class="col-xs-10">
                                <select class="selectpicker" id="Position" name="Position" disabled>
                                    <option value="1" selected="selected">lcj-zt-01</option>
                                    <option value="2">lcj-zt-02</option>
                                    <option value="3">lcj-zt-03</option>
                                    <option value="4">lcj-zt-04</option>
                                    <option value="5">lcj-zt-05</option>
                                    <option value="6">lcj-zt-06</option>
                                    <option value="7">lcj-zt-07</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="checkbox">
                                    <label style="font-size: 1.2em;font-weight:600">
                                        <input type="checkbox" name="Valid" id="Valid" value="true" checked>
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        是否有效
                                    </label>
                                    <input type="hidden" value="false" name="Valid" />
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="uploadimg" class="col-xs-2 control-label">图片上传</label>
                            <div class="col-xs-10">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            浏览...<input type="file" id="uploadimg"/>
                                        </span>
                                    </span>
                                    <input type="text" id="Path" name="Path" class="form-control" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <img id="img-preview" style="max-width: 400px; max-height: 300px;"/>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="submitForm()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" class="loading">Loading pages...</div> 
</div>

<script>
    var $grid = $('#jqGrid');
    $(document).ready(function() {
        $(document).on('change',
            '.btn-file :file',
            function() {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

        $('.btn-file :file').on('fileselect',
            function(event, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#img-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadimg").change(function() {
            readURL(this);
            if ($(this).val() != '') {
                var formData = new FormData();
                formData.append('img', $(this)[0].files[0]);
                $.ajax({
                    url: '@Url.Action("UploadImage")',
                    type: 'POST',
                    data: formData,
                    beforeSend:function() {
                       // $('.loading').show();
                    },
                    success: function (r) {
                       // $('.loading').hide();
                        if (r.success) {
                            $('#Path').val(r.path);
                        }
                    },
                    cache: false,
                    processData: false,
                    contentType: false
                });
            }
        });

        $('#editForm').on('submit',
            function(event) {
                var $form = $(this);
                var $target = $('#editModal');

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    dataType: 'json',
                    success: function(data, status) {
                        if (data.code == "ok") {
                            $target.modal('hide');
                            $grid.trigger("reloadGrid");
                        }
                    }
                });
                event.preventDefault();
            });

        $("#jqGrid").jqGrid({
            url: '@Url.Action("GetList")',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                { label: '名称', name: 'Title' },
                { label: '位置', name: 'Position' },
                { label: '路径', name: 'Path' },
                {
                    label: '是否有效',
                    name: 'Valid',
                    formatter: function(cellvalue, options, rowObject) {
                        return cellvalue
                            ? '<span class="label label-success">有效</span>'
                            : '<span class="label label-default">无效</span>';
                    }
                },
                {
                    label: '操作',
                    name: '',
                    formatter: function(cellvalue, options, rowObject) {
                        return '<button type="button" class="btn-flat btn-default" data-toggle="modal" data-target="#editModal" data-id="' +
                            options.rowId +
                            '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                    }
                }
            ],
            beforeSelectRow: function(rowid, e) {
                return false;
            },
            viewrecords: true,
            shrinkToFit: true,
            autowidth: true,
            height: '100 %',
            rowNum: 10,
            pager: "#jqGridPager"
        });
    });

    function submitForm() {
        $('#editForm').submit();
    }

    $('#editModal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var rowId = button.data('id') // Extract info from data-* attributes
            var modal = $(this)
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            if (rowId != '0') {
                modal.find('.modal-title').text("编辑图片");
                var rowdata = $grid.jqGrid('getRowData', rowId);
                modal.find('#Id').val(rowdata.Id);
                modal.find('#Title').val(rowdata.Title);
                //var $Valid = modal.find('#Valid')
                //var bol = rowdata.Valid == 'true';
                //if (bol) {
                //    $Valid.prop('checked', true);
                //} else {
                //    $Valid.prop('checked', false);
                //}
                $('.selectpicker').selectpicker('val', rowdata.Position);
                modal.find('.input-group input[type=text]').val(rowdata.Path);
                $('#img-preview').attr('src', location.origin + rowdata.Path);
            }
        });

    $('#editModal').on('hidden.bs.modal',
        function(e) {
            $(this)
                .find("input,textarea,select")
                .val('')
                .end()
                .find("input[type=checkbox], input[type=radio]")
                .prop("checked", "")
                .end()
                .find("img#img-preview")
                .removeAttr('src');
        });

</script>

